{% extends "layout.html" %}

{% block body %}

<div class="flex min-h-screen items-center justify-center bg-gray-100">
        
    <!-- <button id="previous-button" class="fixed left-16 top-1/2 transform -translate-y-1/2 w-36 min-w-36 bg-blue-600 hover:bg-blue-700 text-white font-bold text-xl py-2 rounded focus:outline-none focus:shadow-outline disabled:opacity-50 disabled:cursor-not-allowed">←</button> -->

    <div id="initial_box" class="overview_form w-5/6 min-w-100 md:w-192 bg-white p-10 rounded-lg shadow-lg opacity-100 transition-opacity duration-150">
        <div id="initial_headers" class="text-center">
            <h1 class="text-4xl font-black tracking-wide text-blue-600 mb-2 overflow-x-auto whitespace-nowrap">Intake Questionnaire</h1>
            <h1 class="text-xl font-black tracking-wide text-blue-500 mb-8 overflow-x-auto whitespace-nowrap">Let's first get down the basics.</h1>
            <p class="text-lg tracking-wide">This initial questionnaire will help us understand the system you want FedRAMP Authorized and provide it with its very own FedRAMP Impact Level.</p>
            <br>
            <p class="text-lg tracking-wide">Please be as detailed and accurate as possible in your answers - the more information you supply, the better. We'll ask any follow-up questions in real time based on what you provide.</p>
        </div>
    </div>
    
    <div id="general_info_box" class="overview_form w-5/6 min-w-100 md:w-192 bg-white p-10 rounded-lg shadow-lg hidden opacity-0 transition-opacity duration-150">
        
        <div id="general_info_headers" class="text-center">
            <h1 class="text-4xl font-black tracking-wide text-blue-600 mb-2 overflow-x-auto whitespace-nowrap">Initial System Information</h1>
            <h1 class="text-base sm:text-xl font-black tracking-wide text-blue-500 mb-8">Provide some general information about the system.</h1>
        </div>

        <form action="{% url 'alchemy:overview' %}" method="post" class="space-y-8">
            {% csrf_token %}
            <div class="flex">

                <div class="w-1/2 mr-6">
                    <label for="system_name" class="block mb-1 font-semibold text-sm text-blue-700 opacity-70 whitespace-nowrap overflow-x-auto">Information System Name</label>
                    <input type="text" name="system_name" id="system_name" placeholder="e.g., HR Management System" required class="mt-1 w-full p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200">
                </div>
                <div class="w-1/2">
                    <label for="organization_name" class="block mb-1 font-semibold text-sm text-blue-700 opacity-70">Organization Name</label>
                    <input type="text" name="organization_name" id="organization_name" placeholder="e.g., Acme Corporation" required class="mt-1 w-full p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200">
                </div>
            </div>
            <div>
                <div>
                    <label for="address" class="block mb-1 font-semibold text-sm text-blue-700 opacity-70">Organization Address</label>
                    <input type="text" name="street_address" id="street_address" placeholder="Street Address" required class="mt-1 w-full p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200">
                </div>
                <div class="flex mt-4">
                    <input type="text" name="unit_suite" id="unit_suite" placeholder="Unit/Suite Number" class="mr-6 w-1/2 p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200">
                    <input type="text" name="city" id="city" placeholder="City" required class="w-1/2 p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200">
                </div>
                <div class="flex mt-4">
                    <input type="text" name="state" id="state" placeholder="State" required class="mr-6 w-1/2 p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200">
                    <input type="text" name="zip" id="zip" placeholder="Zip Code" required class="w-1/2 p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200">
                </div>
            </div>
            
            <div>
                <label for="owner" class="block mb-1 font-semibold text-sm text-blue-700 opacity-70">Information System Owner</label>
                <div class="flex mt-1">
                    <input type="text" name="owner_name" id="owner_name" placeholder="Name" required class="mr-6 w-1/2 p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200">
                    <input type="text" name="owner_title" id="owner_title" placeholder="Title" required class="w-1/2 p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200">
                </div>
                <div class="flex mt-4">
                    <input type="text" name="owner_number" id="owner_number" placeholder="Number" required class="mr-6 w-1/2 p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200">
                    <input type="text" name="owner_email" id="owner_email" placeholder="Email" required class="w-1/2 p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200">
                </div>
            </div>
        
        </form>

    </div>

    <div id="primary_purpose_box" class="overview_form w-5/6 min-w-100 md:w-192 bg-white p-10 rounded-lg shadow-lg hidden opacity-0 transition-opacity duration-150">
        
        <div id="primary_purpose_headers" class="text-center">
            <h1 class="text-xl sm:text-4xl font-black tracking-wide text-blue-600 mb-2">System Classification</h1>
            <h1 class="text-base sm:text-xl font-black tracking-wide text-blue-500 mb-8">Next, we'll understand which types of federal information your system may be storing, transmitting, or processing.</h1>
        </div>
        
        <div class="space-y-8">
            {% csrf_token %}
            <div class="flex">
                <div class="w-full">
                    <label for="system_description" class="block mb-2 font-semibold text-sm text-blue-700 opacity-70 whitespace-nowrap overflow-x-auto">What is the primary purpose/function of your system? <button class="text-blue-400" id="examplesButton">See example answers</button></label>
                    <textarea rows="4" name="system_description" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 hover:border-blue-400 transition duration-200" placeholder="Write your answer here..."></textarea> 
                </div>
            </div>
            
        </div>
    </div>

    <div id="category_selection_box" class="overview_form my-8 w-5/6 min-w-100 md:w-192 bg-white p-10 rounded-lg shadow-lg hidden opacity-0 transition-opacity duration-150 overflow-y-auto h-full scrollbar-thin scrollbar-thumb-blue-600 scrollbar-track-gray-200">
            
        <div id="category_selection_headers" class="text-center">
            <h1 class="text-xl sm:text-4xl font-black tracking-wide text-blue-600 mb-2">Information Type Selection</h1>
            <h1 class="text-base sm:text-xl font-black tracking-wide text-blue-500 mb-8">Please review the following categories and subcategories, and select all data types that apply to your system.</h1>
        </div>
        
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            {% csrf_token %}
            {% for information_type in information_types %}
                <div class="flex justify-around items-center align-middle category bg-white rounded-lg shadow p-4 relative text-center hover:bg-blue-600 hover:text-white hover:cursor-pointer">
                    
                    <text>icon</text>

                    <div>
                        <div id="category_item_header" class="mb-4">
                            <text class="text-sm">{{information_type.info_category}}</text>
                        </div>
                    
                            <div class="subcategories">
                                <label class="text-sm text-black block mb-2 opacity-70">
                                <input type="checkbox" class="mr-2">
                                Subcategory 1
                                </label>
                                <label class="text-sm text-black block mb-2 opacity-70">
                                <input type="checkbox" class="mr-2">
                                Subcategory 2
                                </label>
                                <!-- Add more subcategories as needed -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <button id ="scrollButton" class="fixed right-8 bottom-8 bg-blue-600 hover:bg-blue-700 text-white w-12 h-12 rounded-full flex items-center justify-center shadow-lg">
            <i id="scrollIcon" class="fas fa-chevron-down"></i>
        </button>

        
    </div>

    <!-- <button id="next-button"class="fixed right-16 top-1/2 transform -translate-y-1/2 w-36 min-w-36 bg-blue-600 hover:bg-blue-700 text-white font-bold text-xl py-2 rounded focus:outline-none focus:shadow-outline disabled:opacity-50 disabled:cursor-not-allowed">→</button> -->

    <!-- Modal for the primary function/purpose view in wizard -->
    <div id="primaryFunctionModal" class="flex items-center justify-center fixed inset-0 hidden bg-gray-900 bg-opacity-50 z-10">

        <div class="relative min-w-768 w-256 bg-white rounded-lg shadow-lg p-8 m-4 mx-12">

            <button class="absolute top-2 right-4 text-gray-900 text-xl font-bold opacity-70 focus:outline-none hover:text-gray-600" id="closeExamplesModal">&times;</button>
            
            <h1 class="text-xl sm:text-2xl font-bold tracking-wide text-blue-600">Example Answers</h1>
            <p class="text-base sm:text-md font-semibold text-blue-500 mb-2">Here are some example answers to help you understand the type of information we are looking for:</p>

            <ul class="list-disc ml-8 mb-4">
                <li class="mb-2"><span class="font-bold text-blue-600">Example 1:</span>"Our information system, Acme Payroll, is designed to manage payroll and benefits for federal employees. It calculates salaries, deductibles, and taxes, and automates the payment process for employees. The system processes financial data, such as salary information, bank account details, and tax information."</li>
                <li class="mb-2"><span class="font-bold text-blue-600">Example 2:</span>"The information system, SecureFile, is a document management and collaboration platform used by federal agencies. It enables users to store, share, and collaborate on documents and files, including classified or sensitive information. The system processes various types of data, including text documents, spreadsheets, images, and multimedia files."</li>
                <li class="mb-2"><span class="font-bold text-blue-600">Example 3:</span>"Our system, HealthBridge, is a telemedicine platform that connects federal employees with healthcare providers for remote consultations and virtual appointments. It allows users to access their electronic health records, schedule appointments, and communicate with healthcare providers through video calls. The system processes personal and health information, including medical records, prescription details, and insurance information."</li>
            </ul>

            <p>Consider the type of data your system handles and the potential impact on your organization if the data is compromised.</p>

        </div>
    </div>
  
</div>
  
<!-- Javascript for interactive aspects of the onboarding wizard -->
<script type="text/javascript">

    // General selections to 
    const overviewForms = document.querySelectorAll('.overview_form'); //Saving all the overview forms in a variable for later use
    const primaryFunctionModal = document.getElementById("primaryFunctionModal"); //Saving the modal in the primary function view in a variable for later use
    const categories = document.querySelectorAll('.category'); //Saving the categories in the info categorization view in a variable for later use
    let currentFormIndex = 0; //Initializing the counter before we move through views

    // categories.forEach((category) => {
    //     category.addEventListener("click", (event) => {
    //         const subcategories = category.children[1];
    //         subcategories.classList.toggle('hidden');
    //         category.classList.toggle('bg-blue-600');
    //         category.classList.toggle('text-white');
    //     });
    // });


    // // Close dropdowns when clicking outside
    // document.addEventListener("click", (event) => {
    //     categories.forEach((category) => {
    //         category.children[1].classList.add("hidden");
    //     });
    // });

    // // Prevent dropdowns from closing when clicking on the checkboxes
    // const checkboxes = document.querySelectorAll(".subcategories input[type='checkbox']");
    //     checkboxes.forEach((checkbox) => {
    //     checkbox.addEventListener("click", (event) => {
    //         event.stopPropagation();
    //     });
    // });

    // Function for all views. Allows moving between views using left and right arrow keys. Checks if a modal is present - if one is, a user cannot toggle views until modal is inactive again.
    document.addEventListener("keydown", (event) => {

        const isModalHidden = primaryFunctionModal.classList.contains("hidden")

        // When there is no modal active and the user hits the right arrow key, hide the current overview box, increment the counter, and show the new box using the custom transition function.
        if  (isModalHidden) {
            if (event.key === "ArrowRight" && currentFormIndex < (overviewForms.length - 1)) {
                // Do something. show the next item and hide the current one
                changeVisibility(overviewForms[currentFormIndex], true);
                currentFormIndex++;
                setTimeout(() => {
                    changeVisibility(overviewForms[currentFormIndex], false);
                }, "150");
            
            // Do the same, but for the left arrow key (decrement the counter)
            } else if (event.key === "ArrowLeft" && currentFormIndex != (0)) {
                // Do something. show the next item and hide the current one
                changeVisibility(overviewForms[currentFormIndex], true);
                currentFormIndex--;
                setTimeout(() => {
                    changeVisibility(overviewForms[currentFormIndex], false);
                }, "150");
            }
        }
    });

    // Function for all views. Provides a transition animation in between views by toggling the hidden class attribute and the opacity of the views. Could probably be tweaked better.
    function changeVisibility(element, isVisible) {
        if (isVisible) {
            setTimeout(() => {
                element.classList.add("hidden");
            }, "150");
            element.classList.remove("opacity-100");
            element.classList.add("opacity-0");

        } else {
            element.classList.remove("hidden");
            setTimeout(() => {
                element.classList.remove("opacity-0");
                element.classList.add("opacity-100");
            }, "150");
        }
    }

    // Shows modal on primary purpose view when the "see examples" text is clicked
    document.getElementById("examplesButton").addEventListener("click", function() {
        primaryFunctionModal.classList.remove("hidden");
    });

    // Hides modal on primary purpose view when the close text is clicked
    document.getElementById("closeExamplesModal").addEventListener("click", function() {
        primaryFunctionModal.classList.add("hidden");
    });

    // Also hides modal on primary purpose view when the grayed out background is clicked
    primaryFunctionModal.addEventListener("click", function(event) {
        if (event.target === primaryFunctionModal) {
            primaryFunctionModal.classList.add("hidden");
        }
    });

    // Scrolling function for category selection view. When the circular scroll button in bottom right is clicked, it will either scroll down or up to show more of the categories
    document.getElementById("scrollButton").addEventListener("click", function() {
        const scrollButton = document.getElementById("scrollButton");
        const scrollIcon = document.getElementById("scrollIcon");

        // If the arrow is pointing down, it targets the new position which is one window-height down, and scrolls to it
        if (scrollIcon.classList.contains("fa-chevron-down")) {
            // Calculate the target scroll position, which is one viewport height from the current scroll position.
            const targetScrollPosition = window.pageYOffset + window.innerHeight;
            
            // Scroll to the target scroll position smoothly.
            window.scrollTo({
                top: targetScrollPosition,
                behavior: "smooth",
            });
        // Otherwise, it scrolls back to the top (implying the arrow is pointing up)
        } else {
            window.scrollTo({ top: 0, behavior: "smooth" });
        }
    })

    // Second scrolling function for category selection view. Responsible for changing the arrow in the icon to up and down depending on where the user is vertically. 
    window.addEventListener("scroll", () => {
        const scrollButton = document.getElementById("scrollButton");
        const scrollIcon = document.getElementById("scrollIcon");
        const scrollHeight = document.documentElement.scrollHeight;
        const clientHeight = document.documentElement.clientHeight;
        const scrollTop = document.documentElement.scrollTop;

        // When the user is near or at the bottom of the page, switches chevron to up, otherwise it will be pointing down
        if (scrollHeight - clientHeight - scrollTop < 5) {
            scrollIcon.classList.remove("fa-chevron-down");
            scrollIcon.classList.add("fa-chevron-up");
        } else {
            scrollIcon.classList.remove("fa-chevron-up");
            scrollIcon.classList.add("fa-chevron-down");
        }
    });

</script>

{% endblock %}