# This file specifies files that are *not* uploaded to Google Cloud
# For more information, run: $ gcloud topic gcloudignore

# Python cache:
__pycache__/

# Node modules:
node_modules/

# Git directories and files:
.git/
.gitignore

# Python virtual environment:
venv/