{% extends "public/public.html" %}

{% block body %}
<div class="mx-16 mt-12 flex items-center justify-center">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload </span> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">.CSV and .XLSX</p>
        </div>
        <input id="dropzone-file" type="file" name="file" accept=".csv, .xlsx" class="hidden" />
    </label>
</div> 
<div id="toast-success" class="fixed transition opacity-0 duration-300 left-0 right-0 bottom-4 flex items-center w-96 p-4 mx-auto mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-2 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
        <i class="fas fa-check"></i>
        <span class="sr-only">Check icon</span>
    </div>
    
    <div class="ml-3 text-sm font-normal"></div>
    <button type="button" class="flex justify-center items-center ml-2 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
        <span class="sr-only">Close</span>
        <i class="fas fa-times fa-lg"></i>
    </button>
</div>
      
    <!-- Javascript for interactive aspects of the onboarding wizard -->
    <script type="text/javascript">

        const dropzoneFileInput = document.querySelector('#dropzone-file');

        dropzoneFileInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            uploadFile(file);
        });

        function uploadFile(file) {
            const formData = new FormData();
            formData.append('data_file', file);
            showToast('Assessing the provided information against NIST CSF...');

            fetch('/generate_ai_assessment', {
                method: 'POST',
                body: formData
            })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = `output.${file.name.split('.').pop()}`;  // get file extension from input file
                a.click();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

    // functionality to show toast messages when AI call is successful
    function showToast(message, duration = 15000) {
        // Get the toast element
        const toast = document.querySelector("#toast-success");

        // Get the close button
        const closeButton = toast.querySelector("button[data-dismiss-target='#toast-success']");

        // Set the toast message
        toast.querySelector(".text-sm").innerText = message;

        // Show the toast
        toast.classList.remove("opacity-0");

         // Remove the "hidden" class if it's present
            if (toast.classList.contains("hidden")) {
                toast.classList.remove("hidden");
            }

        // Remove the toast after `duration` ms
        let timeoutId = setTimeout(() => {
            toast.classList.add("opacity-0");
        }, duration);

        // Cancel the auto-dismiss when the close button is clicked, and hide the toast
        closeButton.onclick = () => {
            clearTimeout(timeoutId);
            toast.classList.add("opacity-0");
        };
    }
    
    </script>
    
{% endblock %}
