{% extends "internal/internal.html" %}

{% block body %}

<div class="body_wrapper flex">
<!-- 
    <div class="flex flex-col h-screen hidden md:block p-4 text-center sticky top-0">
        <ul class="h-full flex flex-col text-left">
            {% for family in control_families %}
            <li class="py-2">
                <a href="{% url 'alchemy:implementation' system.name %}" class="hover:text-blue-700 block {% if family == control_family %}text-blue-700 {%else%} text-gray-500 {% endif %}">
                    <span class="text-sm">{{ family.family_abbreviation }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div> -->

    <div id="wizard_container" class="py-8 px-24 flex flex-col items-center justify-center min-h-screen flex-grow">

        {% for family in control_families %}
            <div class="family mb-4">
                <h1 class="text-2xl sm:text-4xl font-black tracking-wide text-blue-600 mb-6">{{ family.family_name }}</h1>
                {% for implementation in control_implementations %}
                    {% if implementation.control.control_family == family %}
                    <div class="control mb-12 border-2 p-4 rounded-lg" data-id="{{implementation.id}}">
                        <div id="control_header" class="flex justify-between items-center mb-6">
                            
                            <h1 class="text-xl sm:text-2xl flex-grow mr-2 font-black tracking-wide text-blue-600 overflow-x-auto whitespace-nowrap">{{implementation.control}} | {{implementation.control.control_name }}</h1>

                            <div id="control_context" class="flex">
                                <div id="control_owner" class="mr-2">
                                    <button id="owner-dropdown-button-{{implementation.id}}" data-dropdown-toggle="owner-dropdown-helper-{{implementation.id}}" class="{% if implementation.responsible_role %} text-white bg-blue-500 hover:bg-blue-700 {% else %} text-blue-500 bg-white border border-blue-500 hover:bg-gray-100 {% endif %} focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 transition duration-200" type="button">
                                        <span class="button-text">
                                            {% if implementation.responsible_role %}
                                                {{implementation.responsible_role}}
                                            {% else %}
                                                Responsible Role
                                            {% endif %}
                                        </span>
                                        <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                        </svg>
                                    </button>
                                
                                    <!-- Dropdown menu -->
                                    <div id="owner-dropdown-helper-{{implementation.id}}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-48 dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="max-h-48 p-2 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="owner-dropdown-button-{{implementation.id}}">
                                            {% for role in roles %}
                                                <li class="p-2">
                                                    <input id="role_radio-{{implementation.id}}-{{role.id}}" name="helper-radio-{{implementation.id}}" type="radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" {% if implementation.responsible_role.id == role.id %}checked{% endif %} onchange="updateResponsibleRole(this, {{implementation.id}}, {{role.id}})">
                                                    <label for="role_radio-{{implementation.id}}-{{role.id}}" class="font-medium ml-2 dark:text-gray-300 team-option">{{role}}</label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="flex items-center p-3 text-sm font-medium text-blue-600 border-t border-gray-200 rounded-b-lg bg-gray-50 dark:border-gray-600 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-blue-500">
                                            <i class="mr-2 fa-solid fa-plus hover:cursor-pointer" onclick="addRole({{implementation.id}})"></i>
                                            <div>
                                                <input type="text" id="add_role_input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Add new role">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="control_status" class="mr-2">
                                    <button id="status-dropdown-button-{{implementation.id}}" data-dropdown-toggle="status-dropdown-helper-{{implementation.id}}" class="{% with statuses=implementation.statuses.all %}{% if statuses %}text-white bg-blue-500 hover:bg-blue-700 {% else %} text-blue-500 bg-white border border-blue-500 hover:bg-gray-100 {% endif %} {% endwith %} focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 transition duration-200 max-w-sm overflow-x-auto text-ellipsis whitespace-nowrap" type="button">
                                        <span class="button-text">
                                            {% with statuses=implementation.statuses.all %}
                                                {% if statuses %}
                                                    {{ statuses|join:", " }}
                                                {% else %}
                                                    Implementation Status
                                                {% endif %}
                                            {% endwith %}
                                        </span>
                                        <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                        </svg>
                                    </button>
                                
                                    <!-- Dropdown menu -->
                                    <div id="status-dropdown-helper-{{implementation.id}}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="px-4 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="status-dropdown-button-{{implementation.id}}">
                                            {% for choice in implementation_choices %}
                                                <li class="my-2">
                                                    <input id="implementation-checkbox-{{implementation.id}}-{{choice.id}}" type="checkbox" value="{{choice.status}}" class="hidden" onchange="updateImplementationStatus(this, {{implementation.id}}, {{choice.id}})" required=""
                                                        {% for status in implementation.statuses.all %}
                                                            {% if status.id == choice.id %}
                                                                checked
                                                            {% endif %}
                                                        {% endfor %}>
                                                    <label for="implementation-checkbox-{{implementation.id}}-{{choice.id}}" class="inline-flex items-center justify-between relative p-1 text-gray-500 bg-white rounded cursor-pointer hover:text-white hover:bg-blue-700 transition duration-200">
                                                        <div class="block w-full text-center text-xs flex items-center justify-center">
                                                            {{choice.status}}
                                                        </div>
                                                    </label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div id="control_origination">
                                    <button id="origination-dropdown-button-{{implementation.id}}" data-dropdown-toggle="origination-dropdown-helper-{{implementation.id}}" class="{% with originations=implementation.originations.all %}{% if originations %}text-white bg-blue-500 hover:bg-blue-700 {% else %} text-blue-500 bg-white border border-blue-500 hover:bg-gray-100 {% endif %} {% endwith %} focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 transition duration-200 max-w-md overflow-x-auto text-ellipsis whitespace-nowrap" type="button">
                                        <span class="button-text">
                                            {% with originations=implementation.originations.all %}
                                                {% if originations %}
                                                    {{ originations|join:", " }}
                                                {% else %}
                                                    Control Origination
                                                {% endif %}
                                            {% endwith %}
                                        </span>
                                        <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                        </svg>
                                    </button>
                                
                                    <!-- Dropdown menu -->
                                    <div id="origination-dropdown-helper-{{implementation.id}}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="px-4 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="origination-dropdown-button-{{implementation.id}}">
                                            {% for choice in origination_choices %}
                                                <li class="my-2">
                                                    <input id="origination-checkbox-{{implementation.id}}-{{choice.id}}" type="checkbox" value="{{choice.origination}}" class="hidden" onchange="updateOriginationStatus(this, {{implementation.id}}, {{choice.id}})" required=""
                                                        {% for origination in implementation.originations.all %}
                                                            {% if origination.id == choice.id %}
                                                                checked
                                                            {% endif %}
                                                        {% endfor %}>
                                                    <label for="origination-checkbox-{{implementation.id}}-{{choice.id}}" class="inline-flex items-center justify-between relative p-1 text-gray-500 bg-white rounded cursor-pointer hover:text-white hover:bg-blue-700 transition duration-200">
                                                        <div class="block w-full text-center text-xs flex items-center justify-center">
                                                            {{choice.origination}}
                                                        </div>
                                                    </label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="control_requirement">
                            <div id="control_description-{{implementation.control.id}}" class="relative line-clamp-3 text-blue-600 mb-2">
                                <p>{{implementation.control.control_description}}</p>
                            </div>
                    
                            {% for part in implementation.control.parts.all %}
                                <div id="control_part_description-{{part.id}}" class="flex text-blue-600 mb-2">
                                   <span class="mr-2 font-black tracking-wide text-blue-600">{{part.part_letter}}. </span><p>{{part.part_description}}</p>
                                </div>
                            {% endfor %}                   
                        </div>
                         
                        <div id="control_statements" class="mt-6">
                            {% for part in implementation.control.parts.all %}
                            <div id="statement-{{part}}" class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                                <div class="flex items-center justify-between px-3 py-2 border-b dark:border-gray-600">
                                    <div class="flex flex-wrap items-center dark:divide-gray-600">
                                        
                                        <div class="flex items-center space-x-1 sm:pr-4">
                                            <label for="question-answer" class="mr-2 font-black tracking-wide text-gray-500">{{part.part_letter}}.</label>

                                            <button type="button" class="p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600" data-id="{{implementation.control.id}}" onclick="openAICall(event, {{implementation.id}}, {{implementation.control.id}}, {{system.id}}, '{{implementation.control.control_description|escapejs}}', '{{part.part_description|escapejs}}', {{part.id}})">
                                                <i class="fa-solid fa-wand-magic-sparkles w-5 h-5"></i>
                                                <span class="sr-only">Generate AI Text</span>
                                            </button>

                                            <button type="button" class="flex ml-auto p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                                                <i class="fa-regular fa-copy fa-lg"></i>
                                                <span class="sr-only">Copy text</span>
                                            </button>

                                            <button type="button" class="p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600" onclick="saveControlText({{implementation.id}}, {{part.id}})">
                                                <i class="far fa-save fa-lg"></i>
                                                <span class="sr-only">Save Text</span>
                                            </button>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
    
                                <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
                                    <textarea id="statement-text-{{part.id}}" rows="4" class="question-answer block w-full px-0 text-sm text-gray-800 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Write your statement here...">{% for statement in implementation_statements %}{% if statement.control_implementation == implementation and statement.control_part == part %}{{ statement.statement }}{% endif %}{% endfor %}</textarea>
                                </div>
                            </div>
                            {% empty %}
                            <div id="statement-general-{{implementation.id}}" class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                                <div class="flex items-center justify-between px-3 py-2 border-b dark:border-gray-600">
                                    <div class="flex flex-wrap items-center dark:divide-gray-600">
                                        
                                        <div class="flex items-center space-x-1 sm:pr-4">

                                            <button type="button" class="p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600" data-implementation="{{implementation.id}}" data-id="{{implementation.control.id}}" onclick="openAICall(event, {{implementation.id}}, {{implementation.control.id}}, {{system.id}}, '{{implementation.control.control_description|escapejs}}', '', 'General')">
                                                <i class="fa-solid fa-wand-magic-sparkles w-5 h-5"></i>
                                                <span class="sr-only">Generate AI Text</span>
                                            </button>

                                            <button class="flex ml-auto p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                                                <i class="fa-regular fa-copy fa-lg"></i>
                                                <span class="sr-only">Copy text</span>
                                            </button>

                                            <button type="button" class="p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600" data-id="{{implementation.control.id}}" onclick="saveControlText({{implementation.id}}, 'General')">
                                                <i class="far fa-save fa-lg"></i>
                                                <span class="sr-only">Save Text</span>
                                            </button>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
    
                                <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
                                    <textarea id="statement-text-general-{{implementation.id}}" rows="4" class="question-answer block w-full px-0 text-sm text-gray-800 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Write your statement here...">{{implementation.statement}}</textarea>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
        
                        <div id="control_guidance" class="mt-4">
                            <div id="accordion-flush" data-accordion="open" data-active-classes="text-white bg-blue-500" data-inactive-classes="text-gray-500">
            
                                <div id="accordion-guidance-element-{{implementation.control.id}}">
                                    <h2 id="accordion-guidance-heading-{{implementation.control.id}}">
                                        <button type="button" class="flex items-center justify-between w-full px-4 py-2 rounded-t-lg font-medium text-left text-gray-500" data-accordion-target="#accordion-guidance-body-{{implementation.control.id}}" aria-expanded="false" aria-controls="accordion-guidance-body-{{implementation.control.id}}">
                                            <span class="text-xl font-bold transition-transform duration-200">Supplemental Guidance</span> 
                                            <i data-accordion-icon class="fas fa-chevron-down w-6 h-6 transition-transform duration-200"></i>
                                        </button>
                                      </h2>
                                      <div id="accordion-guidance-body-{{implementation.control.id}}" class="px-4 mt-2 hidden" aria-labelledby="accordion-guidance-heading-{{implementation.control.id}}">
                                        <div class="px-8 py-6 ">
                                            <p class="mb-2 text-gray-500">{{implementation.control.supplemental_guidance}}</p>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

        <button id ="scrollButton" class="fixed right-8 bottom-8 bg-blue-600 hover:bg-blue-700 text-white w-12 h-12 rounded-full flex items-center justify-center shadow-lg">
            <i id="scrollIcon" class="fas fa-chevron-down"></i>
        </button>

        <div id="toast-success" class="fixed transition opacity-0 duration-300 bottom-4 flex items-center w-24 max-w-s p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-2 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                <i class="fas fa-check"></i>
                <span class="sr-only">Check icon</span>
            </div>
            <div class="ml-3 text-sm font-normal">Item moved successfully.</div>
            <button type="button" class="flex justify-center items-center ml-2 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                <span class="sr-only">Close</span>
                <i class="fas fa-times fa-lg"></i>
            </button>
        </div>
  
    </div>
</div>
  
<!-- Javascript for interactive aspects of the onboarding wizard -->
<script type="text/javascript">

    // Scrolling function for category selection view. When the circular scroll button in bottom right is clicked, it will either scroll down or up to show more of the categories
    document.getElementById("scrollButton").addEventListener("click", function() {
        const scrollButton = document.getElementById("scrollButton");
        const scrollIcon = document.getElementById("scrollIcon");

        // If the arrow is pointing down, it targets the new position which is one window-height down, and scrolls to it
        if (scrollIcon.classList.contains("fa-chevron-down")) {
            // Calculate the target scroll position, which is one viewport height from the current scroll position.
            const targetScrollPosition = window.pageYOffset + window.innerHeight;
            
            // Scroll to the target scroll position smoothly.
            window.scrollTo({
                top: targetScrollPosition,
                behavior: "smooth",
            });
        // Otherwise, it scrolls back to the top (implying the arrow is pointing up)
        } else {
            window.scrollTo({ top: 0, behavior: "smooth" });
        }
    })

    // Second scrolling function for category selection view. Responsible for changing the arrow in the icon to up and down depending on where the user is vertically. 
    window.addEventListener("scroll", () => {
        const scrollButton = document.getElementById("scrollButton");
        const scrollIcon = document.getElementById("scrollIcon");
        const scrollHeight = document.documentElement.scrollHeight;
        const clientHeight = document.documentElement.clientHeight;
        const scrollTop = document.documentElement.scrollTop;

        // When the user is near or at the bottom of the page, switches chevron to up, otherwise it will be pointing down
        if (scrollHeight - clientHeight - scrollTop < 5) {
            scrollIcon.classList.remove("fa-chevron-down");
            scrollIcon.classList.add("fa-chevron-up");
        } else {
            scrollIcon.classList.remove("fa-chevron-up");
            scrollIcon.classList.add("fa-chevron-down");
        }
    });

    // Functionality for show more/show less text expansion/compression and fade in/out
    document.querySelectorAll('.show-more-less-btn').forEach((btn) => {
        btn.addEventListener('click', function() {
            const id = this.getAttribute('data-id');
            const descriptionDiv = document.querySelector('#control_description-' + id);
            const gradientDiv = descriptionDiv.querySelector('#show-gradient');
            if (this.innerText === 'Show more') {
                descriptionDiv.classList.remove('line-clamp-3');
                this.innerText = 'Show less';
                gradientDiv.classList.remove('show-more-gradient');
            } else {
                descriptionDiv.classList.add('line-clamp-3');
                this.innerText = 'Show more';
                gradientDiv.classList.add('show-more-gradient');
            }
        });
    });

    // functionality to show toast messages when user edit is successful
    function showToast(message, duration = 4000) {
        // Get the toast element
        const toast = document.querySelector("#toast-success");

        // Get the close button
        const closeButton = toast.querySelector("button[data-dismiss-target='#toast-success']");

        // Set the toast message
        toast.querySelector(".text-sm").innerText = message;

        // Show the toast
        toast.classList.remove("opacity-0");

         // Remove the "hidden" class if it's present
            if (toast.classList.contains("hidden")) {
                toast.classList.remove("hidden");
            }

        // Remove the toast after `duration` ms
        let timeoutId = setTimeout(() => {
            toast.classList.add("opacity-0");
        }, duration);

        // Cancel the auto-dismiss when the close button is clicked, and hide the toast
        closeButton.onclick = () => {
            clearTimeout(timeoutId);
            toast.classList.add("opacity-0");
        };
    }
    // <!-- text-white bg-blue-500 hover:bg-blue-700 --> 
    // <!-- text-blue-500 bg-white border border-blue-500 hover:bg-gray-100 -->

    // functionality to allow user to update control's implementation status
    function updateImplementationStatus(checkbox, implementationId, choiceId) {
        const isChecked = checkbox.checked;

        fetch ('/update_implementation_status', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                implementation_id: implementationId,
                choice_id: choiceId,
                is_checked: isChecked,
            })
        })

        .then(response => response.json())
        .then(result => {
            if (result.status === 'success') {
                showToast('The implementation status was updated successfully.');

                // Update the button text
                const button = document.querySelector(`#status-dropdown-button-${implementationId}`);
                const button_text = document.querySelector(`#status-dropdown-button-${implementationId} .button-text`);
                button_text.textContent = result.updated_statuses.join(", ") || "Implementation Status";

                if (result.updated_statuses.length > 0){
                    // Change button color to blue if there are any statuses
                    button.classList.remove("bg-white", "text-blue-500", "border", "border-blue-500", "hover:bg-gray-100");
                    button.classList.add("text-white", "bg-blue-500", "hover:bg-blue-700");
                } else {
                    // Change button color to white if there are no statuses
                    button.classList.add("bg-white", "text-blue-500", "border", "border-blue-500", "hover:bg-gray-100");
                    button.classList.remove("text-white", "bg-blue-500", "hover:bg-blue-700");
                }

            } else {
                console.error('There was an error updating the implementation status:', result.error);
            }
        })
        .catch(error => {
            // Handle any errors that occurred while making the fetch request
            console.error('There was an error making the fetch request:', error);
        });
    }

    // functionality to allow user to update control's origination status
    function updateOriginationStatus(checkbox, implementationId, originationId) {
        const isChecked = checkbox.checked;

        fetch ('/update_origination_status', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                implementation_id: implementationId,
                origination_id: originationId,
                is_checked: isChecked,
            })
        })

        .then(response => response.json())
        .then(result => {
            if (result.status === 'success') {
                showToast('The origination status was updated successfully.');

                // Update the button text
                const button = document.querySelector(`#origination-dropdown-button-${implementationId}`);
                const button_text = document.querySelector(`#origination-dropdown-button-${implementationId} .button-text`);
                button_text.textContent = result.updated_originations.join(", ") || "Control Origination";

                if (result.updated_originations.length > 0){
                    // Change button color to blue if there are any statuses
                    button.classList.remove("bg-white", "text-blue-500", "border", "border-blue-500", "hover:bg-gray-100");
                    button.classList.add("text-white", "bg-blue-500", "hover:bg-blue-700");
                } else {
                    // Change button color to white if there are no statuses
                    button.classList.add("bg-white", "text-blue-500", "border", "border-blue-500", "hover:bg-gray-100");
                    button.classList.remove("text-white", "bg-blue-500", "hover:bg-blue-700");
                }

            } else {
                console.error('There was an error updating the origination status:', result.error);
            }
        })
        .catch(error => {
            // Handle any errors that occurred while making the fetch request
            console.error('There was an error making the fetch request:', error);
        });
    }

    // functionality to allow user to update control's responsible role
    function updateResponsibleRole(radio, implementationId, roleId) {
        const isChecked = radio.checked;

        fetch ('/update_responsible_role', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                implementation_id: implementationId,
                role_id: roleId,
                is_checked: isChecked,
            })
        })

        .then(response => response.json())
        .then(result => {
            if (result.status === 'success') {
                showToast('The responsible role was updated successfully.');

                // Update the button text
                const button = document.querySelector(`#owner-dropdown-button-${implementationId}`);

                if (result.updated_role.length > 0){
                    // Change button color to blue if there are any statuses
                    button.classList.remove("bg-white", "text-blue-500", "border", "border-blue-500", "hover:bg-gray-100");
                    button.classList.add("text-white", "bg-blue-500", "hover:bg-blue-700");
                } else {
                    // Change button color to white if there are no statuses
                    button.classList.add("bg-white", "text-blue-500", "border", "border-blue-500", "hover:bg-gray-100");
                    button.classList.remove("text-white", "bg-blue-500", "hover:bg-blue-700");
                }

            } else {
                console.error('There was an error updating the responsible role:', result.error);
            }
        })
        .catch(error => {
            // Handle any errors that occurred while making the fetch request
            console.error('There was an error making the fetch request:', error);
        });
    }

    // functionality to allow user to add a responsible role to the overall list in the database
    function addRole(implementationId) {

        input = document.getElementById('add_role_input')
        role_name = input.value;

        if (role_name.length > 0) {
            fetch ('/add_role', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    role_name: role_name,
                })
            })

            .then(response => response.json())
            .then(result => {
                if (result.status === 'success') {
                    showToast('The responsible role was successfully added.');

                    // update the dropdown with the new role
                    const ul = document.querySelector(`#owner-dropdown-helper-${implementationId} ul`);
                    const newLi = document.createElement('li');
                    const newInput = document.createElement('input');
                    const newLabel = document.createElement('label');

                    newInput.id = `role_radio-${implementationId}-${result.role_id}`;
                    newInput.name = `helper-radio-${implementationId}`;
                    newInput.type = 'radio';
                    newInput.classList = 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500';
                    newInput.checked = true;
                    newInput.onchange = () => updateResponsibleRole(newInput, implementationId, result.role_id);

                    newLabel.htmlFor = `role_radio-${implementationId}-${result.role_id}`;
                    newLabel.classList = 'font-medium text-gray-900 dark:text-gray-300 team-option';
                    newLabel.textContent = result.role_name;

                    newLi.appendChild(newInput);
                    newLi.appendChild(newLabel);
                    ul.appendChild(newLi);

                    // update the button text
                    const buttonText = document.querySelector(`#owner-dropdown-button-${implementationId} .button-text`);
                    buttonText.textContent = result.role_name;

                    // Add an event listener to the new radio button
                    newLi.addEventListener('change', () => {
                        buttonText.textContent = result.role_name;
                    });

                    // clear the input
                    input.value = '';
                } else {
                    console.error('There was an error adding the responsible role:', result.error);
                }
            })

            .catch(error => {
                // Handle any errors that occurred while making the fetch request
                console.error('There was an error making the fetch request:', error);
            });
        }
    }

    window.addEventListener('DOMContentLoaded', (event) => {
        // Get all the control blocks
        const controls = Array.from(document.querySelectorAll('.control'));

        controls.forEach(control => {
            // Get the implementation id from the control div
            const implementationId = control.dataset.id;

            // Get the button and the text element inside it
            const button = control.querySelector(`#owner-dropdown-button-${implementationId}`);
            const buttonText = button.querySelector('.button-text');

            // Get all the radio inputs for this implementation
            const radios = Array.from(control.querySelectorAll(`input[name="helper-radio-${implementationId}"]`));

            // Listen for change events on each radio input
            radios.forEach(radio => {
                radio.addEventListener('change', () => {
                    // Get the label associated with the selected radio input
                    const label = document.querySelector(`label[for="${radio.id}"]`);

                    // Update the button text to the label text
                    buttonText.textContent = label.textContent;
                });
            });
        });
    });

    function openAICall(event, implementationId, control, system, descriptionBase, descriptionPart, part) {

        // Fetch API call to Django URL
        fetch('/generate_ai_statement', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'control': control,
                'system': system,
                'description_base': descriptionBase,
                'description_part': descriptionPart
            })
        })
        
        .then(response => response.json())
        .then(result => {
            showToast('The control implementation language was generated successfully.');
            // On success, update the textarea with the returned text
            // Please adjust this selector to target the correct textarea based on your HTML structure

            if (part != 'General') {
                document.querySelector(`#statement-text-${part}`).value = result.output;
            } else {
                document.querySelector(`#statement-text-general-${implementationId}`).value = result.output;
            }
        })
        .catch(error => console.log('Error:', error));
    }

    function saveControlText(implementationId, partId) {

        if (partId == 'General') {
            statement = document.querySelector(`#statement-text-general-${implementationId}`).value;
        }

        else {
            statement = document.querySelector(`#statement-text-${partId}`).value;
        }

        // Fetch API call to Django URL
        fetch('/save_control_text', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'implementation_id': implementationId,
                'part_id': partId,
                'statement': statement,
            })
        })

        .then(response => response.json())
        .then(result => {
            showToast('The control implementation language was saved successfully.');
            
        })
        .catch(error => console.log('Error:', error));
    }

</script>

{% endblock %}