{% extends "internal/internal.html" %}

{% block body %}

<div class="body_wrapper flex">

    <div class="flex flex-col h-screen hidden md:block p-4 text-center sticky top-0">
        <ul class="h-full flex flex-col text-left">
            {% for family in control_families %}
            <li class="py-2">
                <a href="{% url 'alchemy:implementation' system.name family.family_name %}" class="hover:text-blue-700 block {% if family == control_family %}text-blue-700 {%else%} text-gray-500 {% endif %}">
                    <span class="text-sm">{{ family.family_name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="wizard_container" class="py-8 flex flex-col items-center justify-center min-h-screen flex-grow">
    
        <div id="family_header_box" class="overview_form min-w-100 md:w-192 bg-white p-10 rounded-lg shadow-lg mb-12">
            
            <div id="family_header" class="text-center">
                <h1 class="text-2xl sm:text-4xl font-black tracking-wide text-blue-600 mb-2">{{control_family}}</h1>
            </div>

        </div>

        <div id="controls_box" class="min-w-100 md:w-192 mb-12">

            {% for implementation in control_implementations %}
            <div class="mb-12">
                <div id="control_header">
                    <h1 class="text-2xl font-black tracking-wide text-blue-600 mb-2">{{implementation.control}} {{implementation.control.control_name }}</h1>
                </div>
                <div id="control_requirement">
                    <h1 class="text text-blue-600 mb-2">{{implementation.control.control_description}}</h1>
                </div>

                <div id="control_guidance">
                    <div id="accordion-flush" data-accordion="open" data-active-classes="text-white bg-blue-500" data-inactive-classes="text-gray-500">
    
                        <div id="accordion-guidance-element-{{implementation.control.id}}">
                            <h2 id="accordion-guidance-heading-{{implementation.control.id}}">
                                <button type="button" class="flex items-center justify-between border w-full px-4 py-2 rounded-t-lg font-medium text-left text-gray-500" data-accordion-target="#accordion-guidance-body-{{implementation.control.id}}" aria-expanded="false" aria-controls="accordion-guidance-body-{{implementation.control.id}}">
                                    <span class="text-xl font-bold transition-transform duration-200">Supplemental Guidance</span> 
                                    <i data-accordion-icon class="fas fa-chevron-down w-6 h-6 transition-transform duration-200"></i>
                                </button>
                              </h2>
                              <div id="accordion-guidance-body-{{implementation.control.id}}" class="px-4 mt-2 hidden" aria-labelledby="accordion-guidance-heading-{{implementation.control.id}}">
                                <div class="px-8 py-6 ">
                                    <p class="mb-2 text-gray-500">{{implementation.control.supplemental_guidance}}</p>
                                </div>
                              </div>
                        </div>
                    
                        <div id="accordion-examples-element-{{implementation.control.id}}">
                            <h2 id="accordion-examples-heading-{{implementation.control.id}}">
                                <button type="button" class="flex items-center justify-between border w-full px-4 py-2 font-medium text-left text-gray-500" data-accordion-target="#accordion-examples-body-{{implementation.control.id}}" aria-expanded="false" aria-controls="accordion-examples-body-{{implementation.control.id}}">
                                    <span class="text-xl font-bold transition-transform duration-200">Description Examples</span> 
                                    <i data-accordion-icon class="fas fa-chevron-down w-6 h-6 transition-transform duration-200"></i>
                                </button>
                              </h2>
                              <div id="accordion-examples-body-{{implementation.control.id}}" class="px-4 mt-2 hidden" aria-labelledby="accordion-examples-heading-{{implementation.control.id}}">
                                <div class="px-8 py-6 ">
                                    <p id="output-{{implementation.control.id}}" class="mb-2 text-gray-500">Refresh the Generate button to view sample language!</p>
                                
                                    <form id="openai-form" data-id="{{implementation.control.id}}" data-description="{{implementation.control.control_description}}" onsubmit="openAICall(event)">
                                        <button type="submit" class="m-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                            Generate
                                        </button>
                                    </form>
                                </div>
                                
                              </div>
                        </div>
                    
                    </div>
                </div>

                <div id="control_examples">
                </div>

                <div id="control_solution">
                </div>

                <div id="control_status">
                </div>

                <div id="control_origination">
                </div>


            </div>

            {% endfor %}

        </div>

        <button id ="scrollButton" class="fixed right-8 bottom-8 bg-blue-600 hover:bg-blue-700 text-white w-12 h-12 rounded-full flex items-center justify-center shadow-lg">
            <i id="scrollIcon" class="fas fa-chevron-down"></i>
        </button>
  
    </div>
</div>
  
<!-- Javascript for interactive aspects of the onboarding wizard -->
<script type="text/javascript">

    // Scrolling function for category selection view. When the circular scroll button in bottom right is clicked, it will either scroll down or up to show more of the categories
    document.getElementById("scrollButton").addEventListener("click", function() {
        const scrollButton = document.getElementById("scrollButton");
        const scrollIcon = document.getElementById("scrollIcon");

        // If the arrow is pointing down, it targets the new position which is one window-height down, and scrolls to it
        if (scrollIcon.classList.contains("fa-chevron-down")) {
            // Calculate the target scroll position, which is one viewport height from the current scroll position.
            const targetScrollPosition = window.pageYOffset + window.innerHeight;
            
            // Scroll to the target scroll position smoothly.
            window.scrollTo({
                top: targetScrollPosition,
                behavior: "smooth",
            });
        // Otherwise, it scrolls back to the top (implying the arrow is pointing up)
        } else {
            window.scrollTo({ top: 0, behavior: "smooth" });
        }
    })

    // Second scrolling function for category selection view. Responsible for changing the arrow in the icon to up and down depending on where the user is vertically. 
    window.addEventListener("scroll", () => {
        const scrollButton = document.getElementById("scrollButton");
        const scrollIcon = document.getElementById("scrollIcon");
        const scrollHeight = document.documentElement.scrollHeight;
        const clientHeight = document.documentElement.clientHeight;
        const scrollTop = document.documentElement.scrollTop;

        // When the user is near or at the bottom of the page, switches chevron to up, otherwise it will be pointing down
        if (scrollHeight - clientHeight - scrollTop < 5) {
            scrollIcon.classList.remove("fa-chevron-down");
            scrollIcon.classList.add("fa-chevron-up");
        } else {
            scrollIcon.classList.remove("fa-chevron-up");
            scrollIcon.classList.add("fa-chevron-down");
        }
    });

    function openAICall(event) {
        event.preventDefault();  // Prevent the form from submitting normally
        var form = event.target;  // Get the form that was submitted
        var controlDescription = form.getAttribute('data-description');  // Get the control description
        var controlId = form.getAttribute('data-id');
        const user_input = '';

        fetch ('/openAI', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                user_input: user_input,
                //using placeholder AT-3 control language for now
                control_language: controlDescription
            })
        })    

        .then(response => response.json())
        .then(result => {   
            document.querySelector('#output-' + controlId).innerHTML = result.output;
        });
    }

</script>

{% endblock %}