{% extends "internal/internal.html" %}

{% block navtitle %}
| <span class="text-blue-700">{{system}}</span>
{% endblock %}

{% block body %}

<div class="w-screen h-full bg-blue-100">

    <!-- Grid with system elements -->
    <div id="body-wrapper" class="container mx-auto px-4 py-10 opacity-0 translate-y-10 transition duration-1000 ease-in-out">
        <div id="grid-container" class="grid md:grid-cols-4 gap-8 mb-12">

            <div class="md:row-span-2 md:col-span-2 h-144 bg-white rounded-lg shadow-md transform transition duration-300 ease-in-out hover:shadow-lg group">
                <a href="{% url 'alchemy:overview2' system=system.name %}">
                    <div class="system-header p-4 rounded-t-lg h-14 w-full hover:bg-gray-100 hover:cursor-pointer transition duration-300 ease-in-out flex items-center">
                        <span class="text-2xl font-bold text-blue-500 select-none">General System Information</span>

                        <div class=" system_settings_icon absolute top-4 right-4 hidden group-hover:block transition duration-300 ease-in-out">
                            <i class="fa-solid fa-ellipsis fa-xl text-blue-100 hover:text-blue-500 transition duration-300"></i>
                        </div>
                    </div>
                </a>

                <div class="system-body h-max w-full">
                    <div class="grid md:grid-cols-2 gap-2 py-4">
                        <div id="system_name_wrapper" class="col-span-2 dashboard-wrapper flex justify-between hover:translate-y-0.5 hover:bg-gray-100 transition duration-200 ease-in-out px-4 py-2">
                            <div class="font-semibold text-xl text-blue-700">
                                System Name
                            </div>
                            <div class="font-semibold">
                                {{system.name}}
                            </div>
                        </div>
                        <div id="system_abbv_wrapper" class="col-span-2 flex justify-between hover:translate-y-0.5 hover:bg-gray-100 transition duration-200 ease-in-out px-4 py-2">
                            <div class="font-semibold text-xl text-blue-700">
                                System Abbreviation
                            </div>
                            <div class="font-semibold">
                                {{system.abbreviation}}
                            </div>
                        </div>
                        <div id="system_env_wrapper" class="col-span-2 flex justify-between hover:translate-y-0.5 hover:bg-gray-100 transition duration-200 ease-in-out px-4 py-2">
                            <div class="font-semibold text-xl text-blue-700">
                                Hosting Environment
                            </div>
                            <div class="font-semibold">
                                {{system.environment}}
                            </div>
                        </div>
                        <div id="system_status_wrapper" class="col-span-2 flex justify-between hover:translate-y-0.5 hover:bg-gray-100 transition duration-200 ease-in-out px-4 py-2">
                            <div class="font-semibold text-xl text-blue-700">
                                FedRAMP Status
                            </div>
                            <div class="font-semibold">
                                {{system.fedramp_compliance_status}}
                            </div>
                        </div>
                        <div id="system_owner_wrapper" class="col-span-2 flex justify-between hover:translate-y-0.5 hover:bg-gray-100 transition duration-200 ease-in-out px-4 py-2">
                            <div class="font-semibold text-xl text-blue-700">
                                Owner Name 
                            </div>
                            <div class="font-semibold">
                                {{system.owner_name}}
                            </div>
                        </div>
                        <div id="system_title_wrapper" class="col-span-2 flex justify-between hover:translate-y-0.5 hover:bg-gray-100 transition duration-200 ease-in-out px-4 py-2">
                            <div class="font-semibold text-xl text-blue-700">
                                Owner Title 
                            </div>
                            <div class="font-semibold">
                                {{system.owner_title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="md:col-span-2 bg-white rounded-lg shadow-md transform transition duration-300 ease-in-out hover:shadow-lg group">
                <div class="system-header p-4 rounded-t-lg h-1/5 w-full hover:bg-gray-100 hover:cursor-pointer transition duration-300 ease-in-out flex items-center">
                    <span class="text-2xl font-bold text-blue-500 select-none">System Impact Level</span>

                    <div class="system_settings_icon absolute top-4 right-4 hidden group-hover:block transition duration-300 ease-in-out">
                        <i class="fa-solid fa-ellipsis fa-xl text-blue-100 hover:text-blue-500 transition duration-300"></i>
                    </div>
                </div>

                <div class="system-body w-2/5 p-4 h-4/5 flex">
                    <div class="system-impact-level flex h-full w-full justify-center items-center">
                        <span class="text-4xl font-bold text-blue-700 -translate-y-5">
                            High
                        </span>
                    </div>
                </div>
            </div> 

            <div class="md:col-span-2 bg-white rounded-lg shadow-md transform transition duration-300 ease-in-out hover:shadow-lg group">
                <div class="system-header p-4 rounded-t-lg h-1/5 w-full hover:bg-gray-100 hover:cursor-pointer transition duration-300 ease-in-out flex items-center">
                    <span class="text-2xl font-bold text-blue-500 select-none">Control Originations</span>

                    <div class="system_settings_icon absolute top-4 right-4 hidden group-hover:block transition duration-300 ease-in-out">
                        <i class="fa-solid fa-ellipsis fa-xl text-blue-100 hover:text-blue-500 transition duration-300"></i>
                    </div>
                </div>

                <div class="system-body p-4">
                </div>
            </div>   

            <!-- Control Implementations Table -->
    <div class="md:col-span-4 h-144 bg-white rounded-lg shadow-md transform transition-all duration-300 ease-in-out hover:shadow-lg group">
        
        <div class="system-header p-4 mb-2 rounded-t-lg h-14 w-full hover:bg-gray-100 hover:cursor-pointer transition-all duration-300 ease-in-out flex items-center">
            <span class="text-2xl font-bold text-blue-500 select-none">Control Implementations</span>
            <div class="system_settings_icon absolute top-4 right-4 hidden group-hover:block transition-all duration-300 ease-in-out">
                <i class="fa-solid fa-ellipsis fa-xl text-blue-100 hover:text-blue-500 transition-all duration-300"></i>
            </div>
        </div>

        <div class="system-body px-4 overflow-y-scroll h-[calc(100%-4.5rem)]">
            <table class="w-full text-left">
                <thead>
                    <tr class="sticky bg-white top-0 z-10">
                        <th class="pb-2 pl-2">Family ID</th>
                        <th class="pb-2">Family Name</th>
                        <th class="pb-2">Descriptions Written</th>
                        <th class="pb-2">Not Implemented</th>
                        <th class="pb-2">Partially Implemented</th>
                        <th class="pb-2">Implemented</th>
                        <th class="pb-2">Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for family in families %}
                    <tr class="text-sm hover:bg-gray-100 hover:translate-y-0.5 hover:cursor-pointer transition-all duration-200" onclick="window.location=' {% url 'alchemy:implementation' system.name family.family_name %} ';">

                        <td class="py-2 pl-2">{{family.family_abbreviation}}</td>
                        <td class="py-2">{{family.family_name}}</td>
                        <td class="py-2">{{family.completed_controls_count}}/{{family.family_controls_count}}</td>
                        <td class="py-2">{{family.implemented_controls_count}}/{{family.family_controls_count}}</td>
                        <td class="py-2">{{family.implemented_controls_count}}/{{family.family_controls_count}}</td>
                        <td class="py-2">{{family.implemented_controls_count}}/{{family.family_controls_count}}</td>
                        <td class="py-2">{{ family.last_updated|date:"F j, Y, P" }}</td>
                    </tr>
                    {% endfor %}
                    <tr class="sticky bg-white bottom-0 z-10 text-sm text-blue-600 font-semibold hover:bg-gray-100 hover:translate-y-0.5 hover:cursor-pointer transition-all duration-200">
                        <td class="py-2 pl-2">Total</td>
                        <td class="py-2">-</td>
                        <td class="py-2">{{total_completed_implementations}}/{{total_controls}}</td>
                        <td class="py-2">{{total_not}}/{{total_controls}}</td>
                        <td class="py-2">{{total_partial}}/{{total_controls}}</td>
                        <td class="py-2">{{total_implemented}}/{{total_controls}}</td>
                        <td class="py-2">-</td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
</div>


<script>

    document.addEventListener("DOMContentLoaded", function() {
        const gridContainer = document.querySelector("#body-wrapper");
        gridContainer.classList.remove("opacity-0", "translate-y-10");
    });

</script>

{% endblock %}
