{% extends "internal/internal.html" %}

{% block company %}
{{client}} <i class="fa-solid fa-mountain"></i>
{% endblock %}

{% block body %}
<div class="w-screen h-screen">

    <!-- Grid with system elements -->
    <div class="container mx-auto px-4 py-10">
        <div id="grid-container" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mb-12">
            {% for system in systems %}
            <div data-system-name="{{ system.name }}" class="h-72 bg-white rounded-lg shadow-md hover:cursor-pointer transform hover:scale-105 hover:shadow-lg transition duration-300 ease-in-out flex flex-col">
                <a href="{% url 'alchemy:dashboard' system=system.name %}" class="w-full h-full flex flex-col">
            
                    <!-- Top section with color -->
                    <div style="background-color: #{{system.color}};" class="rounded-t-lg top_section h-3/4">
            
                        <!-- Settings icon -->
                        <div id="system_settings_icon" class="absolute top-2 right-4">
                            <i class="fa-solid fa-ellipsis fa-xl text-black hover:text-white transition duration-300"></i>
                        </div>
            
                    </div>
            
                    <!-- Bottom section with system name -->
                    <div class="bottom_section h-1/4 flex justify-around items-center">
                        <span class="text-xl font-bold hover:text-blue-700 duration-300">{{system.name}}</span>
                        <div class="w-1/2 bg-gray-200 rounded-full dark:bg-gray-700">
                            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 45%"> 45%</div>
                          </div>
                    </div>
                </a>
            </div>            
            {% endfor %}
            <div class="open-modal h-72 bg-gray-200 p-6 rounded-lg shadow-sm flex items-center justify-center hover:cursor-pointer hover:bg-gray-300 transform hover:scale-105 transition duration-300 ease-in-out ease-in-out hover:shadow-lg">
                <i class="fas fa-plus text-blue-500 text-4xl"></i>
              </div>                          
        </div>
    </div>
</div>

<!-- Toast alerts for when a deletion/change is successful -->
<div id="toast-success" class="fixed transition opacity-0 duration-300 bottom-4 flex items-center w-24 max-w-s p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-2 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
        <i class="fas fa-check"></i>
        <span class="sr-only">Check icon</span>
    </div>
    <div class="ml-3 text-sm font-normal">Item moved successfully.</div>
    <button type="button" class="flex justify-center items-center ml-2 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
        <span class="sr-only">Close</span>
        <i class="fas fa-times fa-lg"></i>
    </button>
</div>

<!-- Add system modal container that pops up when add system section is clicked -->
<div class="modal fixed z-10 inset-0 bg-black bg-opacity-50 hidden transition opacity duration-300" id="add-system-modal-container">
    <div class="flex items-center justify-center min-h-screen text-center">
        <div class="bg-white rounded-lg w-11/12 md:w-3/4 lg:w-1/2 p-6 mx-auto transition-opacity duration-300 opacity-0 modal-content">
            <!-- Modal content -->
            <h1 class="text-2xl font-bold text-blue-500 mb-4">Add System</h1>
            <form action="{% url 'alchemy:dashboard' %}" method="post">
                {% csrf_token %}
                <div class="mx-8">
                    <input type="text" name="system_name" id="system_name" placeholder="System Name" required class="mt-1 w-full p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200">
                </div>
                <button type="submit" class="mt-8 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">Add System</button>
            </form>
        </div>
    </div>
</div>

<!-- Context menu for system elements -->
<div id="context-menu" class="hidden fixed bg-white text-gray-700 border border-gray-200 rounded-md shadow-md py-2">
    <div id="rename-system" class="flex py-1 px-4 cursor-pointer hover:bg-gray-200">
        <div class="flex items-center w-8">
            <i class="fa-solid fa-pen"></i>
        </div>
        <span>Rename System</span>
    </div>
    <div id="delete-system" class="flex py-1 px-4 cursor-pointer hover:bg-gray-200">
        <div class="flex items-center w-8">
            <i class="fa-solid fa-trash"></i>
        </div>
        <span>Delete System</span>
    </div>
</div>

<!-- Delete system modal container that pops up when Remove option in context menu is clicked -->
<div class="modal fixed z-10 inset-0 bg-black bg-opacity-50 hidden transition opacity duration-300" id="delete-system-modal-container">
    <div class="flex items-center justify-center min-h-screen text-center">
        <div class="bg-white rounded-lg w-11/12 md:w-3/4 lg:w-1/2 p-8 mx-auto transition-opacity duration-300 opacity-0 modal-content">
            <!-- Modal content -->
            <h1 class="text-2xl font-bold text-red-500 mb-6"></h1>
            <form id="delete-system-form" action="{% url 'alchemy:delete_system' %}" method="post">
                {% csrf_token %}
                <span class="text-gray-8700 text-base block mb-6">Are you sure you'd like to delete this system? All related information, including control implementations, will be permanently deleted.</span>
                <button id="delete-system-button" name="delete-system-button" type="submit" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded" value=""></button>
            </form>
        </div>
    </div>
</div>

<!-- Change system name modal container that pops up when Change option in context menu is clicked -->
<div class="modal fixed z-10 inset-0 bg-black bg-opacity-50 hidden transition opacity duration-300" id="change-name-modal-container">
    <div class="flex items-center min-h-screen">
        <div class="bg-white rounded-lg w-96 p-8 mx-auto transition-opacity duration-300 opacity-0 modal-content">
            <!-- Modal content -->
            <h1 class="text-2xl font-bold text-blue-500 mb-6">Rename</h1>
            <form id="change-name-form" action="{% url 'alchemy:rename_system' %}" method="post">
                {% csrf_token %}
                <div class=" mb-8">
                    <input type="text" name="system_name" id="system_name_input" required class="mt-1 w-full p-2.5 text-sm border-0 border-b-2 border-gray-200 text-gray-900 focus:ring-0 focus:border-blue-500 hover:border-blue-400 transition duration-200" onfocus="this.select();">
                </div>
                <button id="change-name-button" name="change-name-button" type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">Save</button>
            </form>
        </div>
    </div>
</div>

<script>

    //////////////////////////// System settings context menus

    // Get settings icon element, system context menu, and context menu delete item
    const openSettingsModalBtns = document.querySelectorAll("#system_settings_icon");
    const contextMenu = document.getElementById("context-menu");
    const deleteButton = document.getElementById("delete-system");

    // Show the context menu when the settings icon is clicked
    openSettingsModalBtns.forEach((openSettingsModalBtn) => {
        openSettingsModalBtn.addEventListener("click", function (event) {
            event.preventDefault();
            const iconRect = event.target.getBoundingClientRect();
            contextMenu.style.opacity = 0;

            const menuWidth = contextMenu.clientWidth;
            const windowWidth = window.innerWidth;

            const leftPosition = (iconRect.left + window.scrollX);
            const rightPosition = (iconRect.right - menuWidth + window.scrollX);

            // Check if the context menu would be partially outside the window
            const contextMenuLeft = (leftPosition + menuWidth) <= windowWidth ? leftPosition : rightPosition;

            contextMenu.style.left = contextMenuLeft + "px";
            contextMenu.style.top = (iconRect.bottom + window.scrollY + 15) + "px";
            contextMenu.classList.remove("hidden");
            setTimeout(() => {
                contextMenu.style.opacity = 1;
            }, 50);

            const systemName = event.target.closest("[data-system-name]").getAttribute("data-system-name");
            updateModalContent(systemName);
        });
    });

    // Add an event listener for the window resize event
    window.addEventListener("resize", function () {
        // Close the context menu by adding the "hidden" class
        contextMenu.classList.add("hidden");
    });

    // Close the context menu when clicking outside of it
    document.addEventListener("click", function (event) {
        if (event.target.closest("#context-menu") === null && event.target.closest("#system_settings_icon") === null) {
            contextMenu.classList.add("hidden");
        }
    });

    function updateModalContent(systemName) {
        const deleteModalTitle = document.querySelector("#delete-system-modal-container h1");
        const deleteModalButton = document.querySelector("#delete-system-button");
        const renameModalButton = document.querySelector("#change-name-button");
        const systemNameInput = document.querySelector("#system_name_input");

        deleteModalTitle.textContent = `Delete ${systemName}`;
        deleteModalButton.textContent = `Delete ${systemName}`;
        deleteModalButton.value = systemName;

        renameModalButton.value = systemName;
        systemNameInput.value = systemName;
    }


    //////////////////////////// Add Modal Event Listeners

    // Get the add system modal and the button that opens the modal
    const modal = document.getElementById("add-system-modal-container");
    const openModalBtn = document.querySelector(".open-modal");

    openModalBtn.addEventListener("click", function () {
        modal.classList.remove("hidden");
        setTimeout(() => {
            modal.querySelector(".modal-content").classList.remove("opacity-0");
        }, 50);
    });

    // Close the modal when clicking outside of the content
    modal.addEventListener("click", function (event) {
        if (event.target === modal || event.target.closest(".modal-content") === null) {
            closeModal(modal);
        }
    });

    //////////////////////////// Delete Modal Event Listeners

    // Get the delete system modal and the button that opens the modal
    const openDeleteModalBtn = document.querySelector("#delete-system");
    const delete_modal = document.getElementById("delete-system-modal-container");

    openDeleteModalBtn.addEventListener("click", function () {
        delete_modal.classList.remove("hidden");
        setTimeout(() => {
            delete_modal.querySelector(".modal-content").classList.remove("opacity-0");
        }, 50);
    });

    // Close the modal when clicking outside of the content
    delete_modal.addEventListener("click", function(event) {
        if (event.target === delete_modal || event.target.closest(".modal-content") === null) {
            closeModal(delete_modal);
        }
    });

    //////////////////////////// Change Modal Event Listeners

    // Get the change name modal and the button that opens the modal
    const openChangeModalBtn = document.querySelector("#rename-system");
    const change_modal = document.getElementById("change-name-modal-container");

    openChangeModalBtn.addEventListener("click", function () {
        change_modal.classList.remove("hidden");

        // Get system name input element in the change name modal
        const systemNameInput = change_modal.querySelector("#system_name_input");

        // Focus on the text
        systemNameInput.focus();

        setTimeout(() => {
            change_modal.querySelector(".modal-content").classList.remove("opacity-0");
        }, 50);
    })

    change_modal.addEventListener("click", function(event) {
        if (event.target === change_modal || event.target.closest(".modal-content") === null) {
            closeModal(change_modal);
        }
    })

    //////////////////////////// General reusable modal close function

    function closeModal(inputModal) {
        inputModal.querySelector(".modal-content").classList.add("opacity-0");
        setTimeout(() => {
            inputModal.classList.add("hidden");
        }, 300);
    }

</script>
{% endblock %}