{% extends "internal/internal.html" %}

{% block company %}
{{client}} <i class="fa-solid fa-mountain"></i>
{% endblock %}

{% block local_nav %}
<nav class="sticky fixed top-0 w-full py-2 px-8 border-b border-gray-200 z-10 bg-white">
    <div class="flex items-center justify-between" id="navbar-menu">
        <div  class="md:flex md:flex-row md:items-center space-x-2">
            <a href="{% url 'alchemy:index' %}" class="text-blue-500 hover:text-blue-700 duration-300">{{client}}</a>
            <span class="text-gray-500">/</span>
            <a href="{% url 'alchemy:dashboard' system=system.name %}" class="font-semibold text-blue-500 hover:text-blue-700 duration-300">{{system.name}}</a>
        </div>
        <div id="generate_ssp" class="text-right px-2 py-1 mr-2 rounded-lg text-blue-500 hover:text-blue-700 hover:cursor-pointer duration-300">
           <text>Generate SSP Report</text>
        </div>
    </div>
</nav>
{% endblock %}

{% block body %}

<div class="w-screen h-full">

    <!-- Grid with system elements -->
    <div id="body-wrapper" class="container mx-auto px-4 py-10">
        <div id="grid-container" class="grid md:grid-cols-8 gap-8 mb-12">

            <div id="general_info_box" class="md:col-span-3 bg-white border-2 rounded-lg transform transition duration-300 ease-in-out group">
                <a href="{% url 'alchemy:overview2' system=system.name %}">
                    <div class="system-header p-8 rounded-t-lg h-14 w-full hover:bg-gray-100 hover:text-blue-600 hover:cursor-pointer transition duration-300 ease-in-out flex items-center">
                        <span class="text-2xl font-bold select-none">General System Information</span>

                        <div class=" system_settings_icon absolute top-4 right-4 hidden group-hover:block transition duration-300 ease-in-out">
                            <i class="fa-solid fa-ellipsis fa-xl text-blue-100 hover:text-blue-500 transition duration-300"></i>
                        </div>
                    </div>
                </a>

                <div class="system-body h-max w-full">
                    <div class="grid md:grid-cols-2 gap-2 p-4">
                        <div id="system_name_wrapper" class="col-span-2 dashboard-wrapper flex justify-between hover:translate-y-0.5 hover:bg-gray-100 transition duration-200 ease-in-out px-4 py-2">
                            <div class="font-semibold text-xl text-blue-700">
                                System Name
                            </div>
                            <div class="font-semibold">
                                {{system.name}} ({{system.abbreviation}})
                            </div>
                        </div>
                        <div id="system_env_wrapper" class="col-span-2 flex justify-between hover:translate-y-0.5 hover:bg-gray-100 transition duration-200 ease-in-out px-4 py-2">
                            <div class="font-semibold text-xl text-blue-700">
                                Hosting Environment
                            </div>
                            <div class="font-semibold">
                                {{system.environment}}
                            </div>
                        </div>
                        <div id="system_status_wrapper" class="col-span-2 flex justify-between hover:translate-y-0.5 hover:bg-gray-100 transition duration-200 ease-in-out px-4 py-2">
                            <div class="font-semibold text-xl text-blue-700">
                                FedRAMP Status
                            </div>
                            <div class="font-semibold">
                                {{system.fedramp_compliance_status}}
                            </div>
                        </div>
                        <div id="system_owner_wrapper" class="col-span-2 flex justify-between hover:translate-y-0.5 hover:bg-gray-100 transition duration-200 ease-in-out px-4 py-2">
                            <div class="font-semibold text-xl text-blue-700">
                                Owner 
                            </div>
                            <div class="font-semibold">
                                {{system.owner_name}}
                            </div>
                        </div>
                        <div id="system_role_wrapper" class="col-span-2 flex justify-between hover:translate-y-0.5 hover:bg-gray-100 transition duration-200 ease-in-out px-4 py-2">
                            <div class="font-semibold text-xl text-blue-700">
                                Owner Title 
                            </div>
                            <div class="font-semibold">
                                {{system.owner_title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="md:col-span-2 bg-white border-2 rounded-lg transform transition duration-300 ease-in-out group">
                <div class="system-header p-8 rounded-t-lg h-14 w-full hover:bg-gray-100 hover:cursor-pointer transition duration-300 ease-in-out flex items-center">
                    <span class="text-2xl font-bold select-none">Impact Level</span>

                    <div class="system_settings_icon absolute top-4 right-4 hidden group-hover:block transition duration-300 ease-in-out">
                        <i class="fa-solid fa-ellipsis fa-xl text-blue-100 hover:text-blue-500 transition duration-300"></i>
                    </div>
                </div>

                <div class="system-body p-4 h-4/5 flex">
                    <div class="system-impact-level flex h-full w-full justify-center items-center">
                        <span class="text-4xl font-bold text-blue-700 -translate-y-5">
                            High
                        </span>
                    </div>
                </div>
            </div> 

            <div class="md:col-span-3 bg-white border-2 rounded-lg transform transition duration-300 ease-in-out group">
                <div class="system-header p-8 rounded-t-lg h-14 w-full hover:bg-gray-100 hover:cursor-pointer transition duration-300 ease-in-out flex items-center">
                    <span class="text-2xl font-bold select-none">Control Owners</span>

                    <div class="system_settings_icon absolute top-4 right-4 hidden group-hover:block transition duration-300 ease-in-out">
                        <i class="fa-solid fa-ellipsis fa-xl text-blue-100 hover:text-blue-500 transition duration-300"></i>
                    </div>
                </div>

                <div class="system-body p-4">
                    <canvas id="origination_chart"></canvas>
                </div>
            </div> 
            
            <div class="md:col-span-4 h-144 bg-white border-2 rounded-lg transform transition-all duration-300 ease-in-out group">
                
                <div class="system-header p-8 mb-2 rounded-t-lg h-14 w-full hover:bg-gray-100 hover:cursor-pointer transition-all duration-300 ease-in-out flex items-center">
                    <span class="text-2xl font-bold select-none">Control Implementations</span>
                    <div class="system_settings_icon absolute top-4 right-4 hidden group-hover:block transition-all duration-300 ease-in-out">
                        <i class="fa-solid fa-ellipsis fa-xl text-blue-100 hover:text-blue-500 transition-all duration-300"></i>
                    </div>
                </div>

                <div class="system-body px-4 pb-2 h-[calc(100%-4.5rem)]">
                    <canvas id="implementation_chart"></canvas>
                </div> 
            </div>

            <div class="md:col-span-4 h-144 bg-white border-2 rounded-lg transform transition-all duration-300 ease-in-out group">
                
                <div class="system-header p-8 mb-2 rounded-t-lg h-14 w-full hover:bg-gray-100 hover:cursor-pointer transition-all duration-300 ease-in-out flex items-center">
                    <span class="text-2xl font-bold select-none">Control Originations</span>
                    <div class="system_settings_icon absolute top-4 right-4 hidden group-hover:block transition-all duration-300 ease-in-out">
                        <i class="fa-solid fa-ellipsis fa-xl text-blue-100 hover:text-blue-500 transition-all duration-300"></i>
                    </div>
                </div>

                <div class="system-body px-4 pb-2 h-[calc(100%-4.5rem)]">
                    <canvas id="general_origination_chart"></canvas>
                </div> 
            </div>

            <div class="md:col-span-8 h-144 bg-white border-2 rounded-lg transform transition-all duration-300 ease-in-out group">
                <a href="{% url 'alchemy:implementation' system=system.name control_family='Access Control' %}">
                    <div class="system-header p-8 mb-2 rounded-t-lg h-14 w-full hover:bg-gray-100 hover:cursor-pointer transition-all duration-300 ease-in-out flex items-center">
                        <span class="text-2xl font-bold select-none">Control Implementations by Family</span>
                        <div class="system_settings_icon absolute top-4 right-4 hidden group-hover:block transition-all duration-300 ease-in-out">
                            <i class="fa-solid fa-ellipsis fa-xl text-blue-100 hover:text-blue-500 transition-all duration-300"></i>
                        </div>
                    </div>
                </a>

                <div class="system-body px-4 pb-2 h-[calc(100%-4.5rem)]">
                    <canvas id="implementation_family_chart"></canvas>
                </div> 
            </div>

            <!-- Control Implementations Table -->
            <div class="md:col-span-8 h-fit bg-white border-2 rounded-lg transform transition-all duration-300 ease-in-out group">
                <a href="{% url 'alchemy:implementation' system=system.name control_family='Access Control' %}">
                    <div class="system-header p-8 mb-2 rounded-t-lg h-14 w-full hover:text-blue-600 hover:bg-gray-100 hover:cursor-pointer transition-all duration-300 ease-in-out flex items-center">
                        <span class="text-2xl font-bold select-none">Control Implementations Table</span>
                        <div class="system_settings_icon absolute top-4 right-4 hidden group-hover:block transition-all duration-300 ease-in-out">
                            <i class="fa-solid fa-ellipsis fa-xl text-blue-100 hover:text-blue-500 transition-all duration-300"></i>
                        </div>
                    </div>
                </a>

                <div class="system-body px-4 overflow-y-scroll h-104">
                    <table class="w-full text-left">
                        <thead>
                            <tr class="sticky bg-white top-0 z-10">
                                <th class="pb-2 pl-2">Family ID</th>
                                <th class="pb-2">Family Name</th>
                                <th class="pb-2">Planned</th>
                                <th class="pb-2">Partially Implemented</th>
                                <th class="pb-2">Implemented</th>
                                <th class="pb-2">Last Updated (UTC)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for family in families %}
                            <tr class="text-sm hover:text-blue-600 hover:bg-gray-100 hover:translate-y-0.5 hover:cursor-pointer transition-all duration-200" onclick="window.location=' {% url 'alchemy:implementation' system.name family.family_name %} ';">

                                <td class="py-2 pl-2">{{family.family_abbreviation}}</td>
                                <td class="py-2">{{family.family_name}}</td>
                                <td class="py-2">{{family.planned_controls_count}}</td>
                                <td class="py-2">{{family.partial_controls_count}}</td>
                                <td class="py-2">{{family.implemented_controls_count}}</td>
                                <td class="py-2">{{ family.last_updated|date:"F j, Y, P" }}</td>
                            </tr>
                            {% endfor %}
                            <tr class="sticky bg-white bottom-0 z-10 text-sm font-semibold hover:bg-gray-100 hover:translate-y-0.5 hover:cursor-pointer transition-all duration-200">
                                <td class="py-2 pl-2">Total</td>
                                <td class="py-2">-</td>
                                <td class="py-2">{{total_planned}}</td>
                                <td class="py-2">{{total_partial}}</td>
                                <td class="py-2">{{total_implemented}}</td>
                                <td class="py-2">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
</div>

<div id="toast-success" class="fixed transition opacity-0 duration-300 left-0 right-0 bottom-4 flex justify-between items-center w-96 p-4 mx-auto mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-2 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
        <i class="fas fa-check"></i>
        <span class="sr-only">Check icon</span>
    </div>
    
    <div class="ml-3 text-sm font-normal"></div>
    <button type="button" class="flex justify-center items-center ml-2 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
        <span class="sr-only">Close</span>
        <i class="fas fa-times fa-lg"></i>
    </button>
</div>


<script>

    // System ID variable to pass to fetch calls
    systemId = {{system.id}};
    systemName = "{{system.name}}";

    // Colors for graphs
    colors = ['#3E4756', '#97ACCF', '#FFE1E9', '#CAAAB2', '#6E7788', '#5A3F46', '#8D6F77', '#A2ACBD', '#CF9EAA', '#986A76', '#564147', '#CF9EAC', '#F3E7D0', '#BBB099', '#BEA5AB', '#BBB19B', '#867D67']

    // Fetch the data to create Control Owners bar chart
    fetch('/get_control_origination_data', { 
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                system_id: systemId,
            })
        })

        .then(response => response.json())
        .then(data => {
            // Get the context of the canvas
            var ctx = document.getElementById('origination_chart').getContext('2d');

            // Create the chart
            var myChart = new Chart(ctx, {
                type: 'pie',  // Change this to 'bar' if you want a bar chart
                data: {
                    labels: data.labels,
                    datasets: [{
                        data: data.data,
                        backgroundColor: colors,
                        borderColor: colors,
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                }
            });
        });

    fetch('/get_status_data', { 
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            system_id: systemId,
        })
    })
    
    .then(response => response.json())
    .then(data => {
        // Get the context of the canvas
        var ctx = document.getElementById('implementation_chart').getContext('2d');
        
        // The status names are in data.labels and the counts are in data.data.
        // Each index corresponds to the same status.
        var datasets = data.labels.map((status, i) => ({
            label: status,
            data: [data.data[i]], // Each dataset only has one data point
            backgroundColor: [colors[i]], // Set color for this dataset
            borderColor: [colors[i]],
            borderWidth: 1
        }));

        // Create the chart
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Implementation Statuses'], // Single label for X-axis, since each dataset is its own bar
                datasets: datasets
            },
            options: {
                maintainAspectRatio: false,
            }
        });
    });

    var urls = JSON.parse('{{ urls|escapejs }}');

    fetch('/get_implementation_family_data', { 
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            system_id: systemId,
        })
    })

    .then(response => response.json())
    .then(data => {
        var ctx = document.getElementById('implementation_family_chart').getContext('2d');
        
        // Flatten the data into arrays for each status, preserving order.
        var statuses = ['None', 'Implemented', 'Partially Implemented', 'Planned', 'Alternative Implementation', 'Not Applicable'];
        var flattenedData = statuses.map(status => data.data.map(familyData => familyData[status]));
        
        // Create a dataset for each status.
        var datasets = statuses.map((status, i) => ({
            label: status,
            data: flattenedData[i],
            backgroundColor: colors[i],
            borderColor: colors[i],
            borderWidth: 1
        }));
        
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.labels,
                datasets: datasets
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    x: {stacked: true},
                    y: {stacked: true}
                },

                // Adds pointer icon to bar elements when hovered over
                onHover: (event, chartElement) => {
                    event.native.target.style.cursor = chartElement[0] ? 'pointer' : 'default';
                },

                // Sends user to SSP section for that family when clicked on
                onClick: function(e, elements) {
                    // If a bar was clicked
                    if (elements.length > 0) {
                        // Get the first clicked element
                        var firstElement = elements[0];

                        // Get the index of the clicked bar
                        var index = firstElement.index;

                        var familyAbbv = this.data.labels[index];

                        var familyUrlObj = urls.find(url => url.family_abbreviation === familyAbbv);
                        if (familyUrlObj){
                        var familyUrl = familyUrlObj.url;
                        // Perform the redirect
                        window.location.href = familyUrl;

                        } else {
                            console.log('No URL found for family: ' + familyName);
                        }
                    }
                }
            }
        });
    });

    fetch('/get_origination_data', { 
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            system_id: systemId,
        })
    })
    
    .then(response => response.json())
    .then(data => {
        // Get the context of the canvas
        var ctx = document.getElementById('general_origination_chart').getContext('2d');
        
        // The status names are in data.labels and the counts are in data.data.
        // Each index corresponds to the same status.
        var datasets = data.labels.map((status, i) => ({
            label: status,
            data: [data.data[i]], // Each dataset only has one data point
            backgroundColor: [colors[i]], // Set color for this dataset
            borderColor: [colors[i]],
            borderWidth: 1
        }));

        // Create the chart
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Control Originations'], // Single label for X-axis, since each dataset is its own bar
                datasets: datasets
            },
            options: {
                maintainAspectRatio: false,
            }
        });
    });


    ////////////////////// Functionality to generate the SSP ////////////////////////

    // Adds event listener on the generate ssp text (activates generation when clicked)
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById("generate_ssp").addEventListener("click", generateSSP);
    });

    // Function called when "Generate SSP" is clicked. Makes fetch to back end where the report is created, and then provides it via download to browser
    function generateSSP() {
        showToast('Generating SSP...');
        // Update the URL below to the URL of your Django view
        fetch("/generate_ssp", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                system_id: systemId,
            })
        })

        .then(response => response.blob())
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            // change filename to whatever you want
            a.download = `SSP-Appendix-A-Moderate-FedRAMP-Security-Controls-${systemName}.docx`
            a.click();
        })
        .catch((error) => {
            console.error('There has been a problem with generating the SSP:', error);
        });
    }

    // functionality to show toast messages when generate SSP is loading or successful
    function showToast(message, duration = 15000) {
        // Get the toast element
        const toast = document.querySelector("#toast-success");

        // Get the close button
        const closeButton = toast.querySelector("button[data-dismiss-target='#toast-success']");

        // Set the toast message
        toast.querySelector(".text-sm").innerText = message;

        // Show the toast
        toast.classList.remove("opacity-0");

         // Remove the "hidden" class if it's present
            if (toast.classList.contains("hidden")) {
                toast.classList.remove("hidden");
            }

        // Remove the toast after `duration` ms
        let timeoutId = setTimeout(() => {
            toast.classList.add("opacity-0");
        }, duration);

        // Cancel the auto-dismiss when the close button is clicked, and hide the toast
        closeButton.onclick = () => {
            clearTimeout(timeoutId);
            toast.classList.add("opacity-0");
        };
    }

</script>

{% endblock %}
